@model IEnumerable<IntershipWebApp.Models._Task>

@{
    ViewData["Title"] = "List";
}

<h1>Список задач</h1>

<p>
    <button href="#" id="addTaskBtn">Добавить</button>
    <button id="editTaskBtn">Редактировать</button>
    <button id="deleteTaskBtn">Удалить</button>
</p>


<table id="taskTable" class="table">
    <thead>
        <tr>
            <th id="taskId">taskId</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Status.Name</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        // Получаем все строки таблицы
        var rows = document.querySelectorAll("#taskTable tbody tr");
        rows.forEach(function (row) {
            row.addEventListener('click', function () {
                // Удаляем класс 'table-active' у всех строк таблицы
                rows.forEach(function (otherRow) {
                    otherRow.classList.remove('table-active');
                });
                // Добавляем класс 'table-active' к выбранной строке
                row.classList.add('table-active');
            });
        });

        document.getElementById('addTaskBtn').addEventListener('click', function () {
            // Открываем модальное окно для добавления новой задачи
            document.getElementById('taskModal').style.display = 'block';
        });


        document.getElementById('editTaskBtn').addEventListener('click', function () {
            var selectedRow = document.querySelector("#taskTable tbody tr.table-active");
            if (selectedRow) {
                var taskId = selectedRow.dataset.taskId; // Предполагается, что у строки таблицы есть атрибут data-task-id, содержащий идентификатор задачи
                // Перенаправляем пользователя на страницу редактирования задачи с идентификатором taskId
                window.location.href = '/Home/List/Create';
            } else {
                alert('Выберите задачу для редактирования!');
            }
        });



    </script>
}

