@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>Ошибка: Задача не найдена</title>
</head>
<body>
    <h1>Ошибка: Задача не найдена</h1>
    <p>Задача с указанным идентификатором не найдена в системе.</p>
    <p><a href="/Tasks/List">Вернуться к списку задач</a></p>
</body>